<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="image">
                <div class="content-2">KTM RC 200</div>
                <div class="content-1">RACETRACK DNA</div>
                <div class="content-1">FOR THE STREET</div>
                <button routerLink="/models" class="btn">
                    VISIT E-SHOWROOM
                  </button>
            </div>
          
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
             <div class="d-flex">
                <img src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/performance_icon.png" alt="">
                <div class="text">
                    <div class="text-1">REFINED FIREPOWER</div>
                    <div class="text-2">Pull all the way to the redline</div>
                </div>
             </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                <img src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/performance_icon.png" alt="">
                <div class="text">
                    <div class="text-1">REFINED FIREPOWER</div>
                    <div class="text-2">Pull all the way to the redline</div>
                </div>
             </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                <img src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/performance_icon.png" alt="">
                <div class="text">
                    <div class="text-1">REFINED FIREPOWER</div>
                    <div class="text-2">Pull all the way to the redline</div>
                </div>
             </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                <img src="https://cdn.bajajauto.com/-/media/images/ktm/ktm-bikes/naked-bike/ktm-390-duke/key-features/performance_icon.png" alt="">
                <div class="text">
                    <div class="text-1">REFINED FIREPOWER</div>
                    <div class="text-2">Pull all the way to the redline</div>
                </div>
             </div>
        </div>
    </div>
</div>