<!-- card -->
<div class="cards" >
    <mat-card>
        <app-card
        bg="black" 
        icon="beenhere"
        content="Monthly Report"
        total="200"

        
        
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="orange" 
        icon="bookmarks"
        content="Bookings"
        total="105"
        
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="black" 
        icon="bookmarkadded"
        content=" Dispatched"
        total="80"
       
        
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="orange" 
        icon="starrate"
        content="Delivery"
        total="50"
        
        ></app-card>
    </mat-card>
</div>
<!-- areaChart -->
<div>
    <app-area-chart></app-area-chart>
</div>
<!-- table -->
<!-- pieChart -->
<div class="parent">
    <app-table></app-table>
    <app-pie-chart></app-pie-chart>
</div>