<div class="main">
   <div class="text">
    <div class="tittle-head">EXPLORE LADAKH ON KTM ADVENTURE</div>
    <div class="text-center">For Duke and RC customers</div>
    <div class="text-center">Leh-Nubra-Pangong-Leh</div>
    <div class="text-center">Heaven for all biking enthusiasts and specially curated just</div>
    <div class="text-center">for you!</div>
    <div class="text-center">Perfect blend of adventure,thrill and excitement.</div>
   </div>
</div>
<div class="container" id="main-box">
   <div class="row" >
      <div class="col-6" id="box">
         <div class="col-3">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/images/adventure-tour/adventure-tour/icon1.ashx" alt="">
            <div>
               <div class="trip-time">BOOKING OPEN</div>
               <div class="trip-deta">08 Jan - 14 Jan 24</div>
            </div>
         </div>
         <div class="col-3">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/images/adventure-tour/adventure-tour/icon2.ashx" alt="">
            <div>
               <div class="trip-time">PRICE</div>
               <div class="trip-deta">	28 999/- </div>
            </div>
         </div>
         <div class="col-3">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/images/adventure-tour/adventure-tour/icon3.ashx" alt="">
            <div>
               <div class="trip-time">DURATION</div>
               <div class="trip-deta">	6 Nights - 7 Days</div>
            </div>
         </div>
         <div class="col-3">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/images/adventure-tour/adventure-tour/icon4.ashx" alt="">
            <div class="mx-1">
               <div class="trip-time">DISTANCE</div>
               <div class="trip-deta">	620 km </div>
            </div>
         </div>
      </div>
      <div class="col-6"></div>
   </div>
</div>
<div id="main-box2">
 <div><img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/images/adventure-tour/adventure-tour/icon5.ashx" alt=""></div>
 <div>
   <div class="trip-time">	MAXIMUM ALTITUDE</div>
   <div class="trip-deta">Encounter terrains like Tarmac, Hills, Dry Riverbed, Sand Dunes, Slush, Gravel, Mud, River Crossing and Twisties.</div>
 </div>
</div>
<div class="container" id="main-box3">
   <div class="row">
      <div class="col-4">
         <div class="trip-time">Package Includes</div>
         <div> Bike, fuel and stay(Refer inclusion and exclusion document for further details)</div>
      </div>
      <div class="col-4">
         <div class="trip-time">Location</div>
         <div class="trip-time">Start Location:<span class="trip-deta">Leh</span></div>
         <div class="trip-time">Joining Point :<span class="trip-deta">Leh</span></div>
         <div class="trip-time">End Location :<span class="trip-deta">Leh</span></div>
      </div>
      <div class="col-4">
         <div class="trip-time">Next tour dates</div>
         <div  class="trip-time" style="color: #FF6600;">22 Jan - 28 Jan</div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="text-center" style="font-size: 3rem; color: black; margin-top: 5rem; font-weight: 900;"> ITINERARY</div>
      <!-- carousel -->

      <div style="margin-top: 5rem;" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
           <div class="carousel-item active">
             <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/Overview.ashx" class="d-block w-100" alt="...">
           </div>
           <div class="carousel-item">
             <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/day1.ashx" class="d-block w-100" alt="...">
           </div>
           <div class="carousel-item">
             <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/day2.ashx" class="d-block w-100" alt="...">
           </div>
           <div class="carousel-item">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/day3.ashx" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/day4.ashx" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.bajajauto.com/-/media/ktm/pro-experience/Tours/Explore-Ladakh-Thrillophilia/Itinerary/desktop/day5.ashx" class="d-block w-100" alt="...">
          </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>

   </div>
</div>
