<div class="naked">NAKED BIKE</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="container-fluid">
   <div class="row">
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/390-DUKE.jpg" alt="">
         <div class="nakedbike">
            <h2>KTM 390 DUKE</h2>

         </div>
      </div>
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/ktm-duke-250-abs.png" alt="">
         <div class="nakedbike">
            <h2>KTM 250 DUKE</h2>
         </div>
      </div>
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/KTM_DUKE-200_jpg1.jpg" alt="">
         <div class="nakedbike">
            <h2>KTM 200 DUKE</h2>
         </div>
      </div>
      <div class="col-3">
         <img  src="https://www.bajajautofinance.com/uploads/vehicles/ktm-125-duke-thumb.png" alt="">
         <div class="nakedbike">
            <h2>KTM 125 DUKE   </h2>
         </div>
      </div>
   </div>
</div>

<div class="naked">SUPERSPORT</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="container-fluid">
   <div class="row">
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/KTM_RC_-390_.jpg" alt="">
         <div class="supersport">
            <h2 > KTM RC 390 </h2>
         </div>
      </div>
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/KTM-RC-200.jpg" alt="">
         <div class="supersport">
            <h2 > KTM RC 200</h2>
         </div>
      </div>
      <div class="col-3">
         <img
            src="https://cdn.bajajauto.com/-/media/Images/ktm/ktm-bikes/supersport/ktm-rc-gp/slide-bike/right-angle-img.ashx"
            alt="">
         <div class="supersport">
            <h2 style="margin: 2rem 0rem 1rem 9rem;">KTM RC GP</h2>
         </div>
      </div>
      <div class="col-3">
         <img  src="https://media.zigcdn.com/media/model/2020/Mar/ktm-rc-125-bs6-right-side-view_360x240.jpg" alt="">
         <div class="supersport">
            <h2>  KTM RC 125</h2>
         </div>
      </div>
   </div>
</div>


<div class="naked">TRAVEL</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="container-fluid">
   <div class="row">
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/KTM-390_ADVENTURE-.jpg" alt="">
         <div class="travel">
            <h2 style="    margin: 2rem 0rem 1rem 1rem;">2023 KTM 390 ADVENTURE</h2>
         </div>
      </div>


      <div class="col-3">
         <img
            src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_390-ADVENTURE-Spoked-Wheels--MY23-90-Right-_%23SALL_%23AEPI_%23V1.png"
            alt="">
         <div class="travel">
            <h2 >KTM 390 ADVENTURE</h2>
         </div>
      </div>
      <div class="col-3">
         <img src="https://www.bajajautofinance.com/uploads/vehicles/KTM-ADVENTURE_250.jpg" alt="">
         <div class="travel">
            <h2 >KTM 390 ADVENTURE X</h2>
         </div>

      </div>
      <div class="col-3">
         <img  src="https://bd.gaadicdn.com/processedimages/ktm/390-adventure/640X309/390-adventure6274e1414cc08.jpg"
            alt="">
         <div class="travel">
            <h2  > KTM 250 ADVENTURE</h2>
         </div>
      </div>
   </div>
</div>